:root {
  /**
  @color declaration
  */
  /* 
  136290
  5c98aa
  f36934
  */
  /* --rr-common-white: #FFFFFF; */
  /* --rr-common-black: #000000; */
  /* --rr-common-placeholder: #767676; */
  /* --rr-common-selection: #5c98aa; */
  /* --rr-color-white: #fff; */
  /* --rr-body-primary: #f2f8f9; */
  --rr-theme-primary: #3e6a7c ;
  --rr-heading-primary: #0f2d42;
  /* --rr-text-body: #767676; */
  /* --rr-text-p: #767676; */
  /* --rr-menu-primary: #080A0B; */
  /* --rr-menu-white: #FFFFFF; */
  /* --rr-primary: #136290; */
  /* --rr-secondary: #5c98aa; */
  /* --rr-third: #3e6a7c; */
  /* --rr-light-secondary: #95c0cb; */
  --rr-third: #f36934;
}

.logo-header{
    width: 95px !important;
    height: auto;
}

.logo-footer{
    width: 150px !important;
    height: auto;
}

.text-justify {
    text-align: justify !important;
}

.text-primary{
    color: var(--rr-primary) !important;
}

.text-secondary{
    color: var(--rr-secondary) !important;
}

.text-third{
    color: var(--rr-third) !important;
}

.text-justify{
    text-align: justify !important;
}

.about-company__customer h2 .odometer {
    letter-spacing: 0px;
}

.our-team__item-media img {
    -webkit-filter: grayscale(0);
}

.our-team__item:hover .our-team__item-media::after {
    opacity: 0.5;
}

.sub-village-title {
    font-size: 20px;
    line-height: 1.3;
}

.main-menu ul li .submenu {
    background: var(--rr-heading-primary);
}

.footer-3__contact ul li .text .location {
    font-size: 17px;
}

.footer-3__widget.footer-3__widget-item-3 {
    padding-left: 38px;
}

.footer-3__widget.footer-3__widget-item-4 {
    padding-left: 38px;
}

@media (min-width: 1199.5px) and (max-width: 1399.5px) {
    .footer-3__widget.footer-3__widget-item-3 {
        padding-left: 0;
    }

    .footer-3__widget.footer-3__widget-item-2 {
        padding-left: 30px;
    }
}

@media (min-width: 991.5px) and (max-width: 1199.5px) {
    .footer-3__widget.footer-3__widget-item-3 {
        padding-left: 0;
    }

    .footer-3__widget.footer-3__widget-item-2 {
        padding-left: 30px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .footer-3__content p {
        font-size: 15px;
    }

    .footer-3__company ul li a {
        font-size: 15px;
    }

    .footer-3__resources li a {
        font-size: 15px;
    }

    .footer-3__contact ul li .text .location {
        font-size: 15px;
    }

    .footer-3__widget.footer-3__widget-item-4 {
        padding-left: 5px;
    }

    .choose-us__box {
        padding-top: 20px;
    }
}

@media only screen and (min-width: 990.5px) and (max-width: 1199px), only screen and (min-width: 766.5px) and (max-width: 991px), only screen and (min-width: 574.5px) and (max-width: 767px), (max-width: 575px) {
    .footer-3__widget.footer-3__widget-item-2 {
        padding-left: 0px;
    }

    .footer-3__widget.footer-3__widget-item-3 {
        padding-left: 0;
    }

    .footer-3__widget.footer-3__widget-item-4 {
        padding-left: 0;
    }
}

@media only screen and (min-width: 767.5px) and (max-width: 991.5px) {
    .footer-3__widget.footer-3__widget-item-3 {
        padding-left: 0px;
    }

    .footer-3__widget.footer-3__widget-item-4 {
        padding-left: 0px;
        left: -28px;
    }
}

@media (max-width: 575px), only screen and (min-width: 576px) and (max-width: 766.5px), only screen and (min-width: 766.5px) and (max-width: 991.5px), only screen and (min-width: 991.5px) and (max-width: 1199px) {
    .header__main {
        padding: 15px 0;
    }
}

@media (max-width: 991.5px) {
    .blog-2 .blog-btn {
        margin-left: 0;
    }
}

.blog-grid__media img {
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 991px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .contact .map {
        margin-left: 0;
    }
}

@media (max-width: 575px) {
    .choose-us__box {
        width: 100%;
    }
}

.solutions-video__media .icon::before{
    border: 2px solid rgb(80 107 144 / 30%);
}

@media (min-width: 1200px) {
    .banner-2__content {
        max-width: 900px;
    }
}


/* metronic */

.border-top-sm{
    border-top: 1px solid var(--bs-card-border-color) !important;
}

.border-bottom-sm{
    border-bottom: 1px solid var(--bs-card-border-color) !important;
}

.border-bottom-hp{
    border-bottom: 1px solid var(--bs-border-color) !important;
}

.homepage-halfwidth {
    width: 100%;
}

@media (min-width: 991px) {
    .homepage-halfwidth {
        width: 50%;
    }
}

.select-solid{
    background-color: var(--bs-gray-100);
    border-color: var(--bs-gray-100);
    color: var(--bs-gray-700);
    transition: color 0.2s ease;
}

.slider-image-size{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 0.625rem;
}

.bg-form-delete{
    background-color: var(--bs-primary-light);
}

.our-team__item:hover .our-team__item__text {
    transform: translate(0, 10px);
}

.our-team__item-media::before
 {
    background: linear-gradient(180deg, rgba(8, 10, 11, 0.1) 0%, #080A0B 150%);
}

.our-team__item:hover .our-team__item-media::after {
    opacity: 0.3;
}

.blog-4__item::before
 {
    background: linear-gradient(180deg, rgba(8, 10, 11, 0) 44.36%, #080A0B 130%);
}

.blog-4__item-content {
    bottom: 35px;
}

.dukuh-img {
    object-fit: cover !important;
    width: 100% !important;
    height: 400px !important;
}

@media screen and (max-width: 768px) {
    .dukuh-img {
        height: 300px !important;
    }
}

@media screen and (max-width: 575px) {
    .dukuh-img {
        height: 200px !important;
    }
}

.no-border-left {
    border-left: none !important;
}

.no-border-right {
    border-right: none !important;
}

.monograph-w{
    width: 50% !important;
}

.monograph-subtitle{
    font-size: 20px;
    line-height: 1.3;
    font-weight: 600;
    color: var(--rr-heading-primary);
}

.sidebar-fixed{
    z-index: 9999999;
}

.offcanvas__logo a img {
    width: 120px;
}

.about-us-2__media img {
    width: 100%;
    height: 550px;
    -o-object-fit: cover;
    object-fit: cover;
}